<div class="main-content">


<div class="container-fluidimg" >
    <img [src]="food.imageUrl" [alt]="food.name">
</div>
<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
        </span>
        <span class="favorite{{food.favorite?'':'not'}}">
            ♥      
        </span>
    </div>
    <div class="star">
    <p-rating [(ngModel)]="food.star" 
    checkedcolor
    ='red'
    uncheckedcolor="'black"
size="24px"
 
    [cancel]="false"></p-rating>

    </div>
    <div class="origins">
        <span *ngFor="let origin of food.origins">
            {{origin}}

        </span>
    </div>
    <div class="tag">
        <app-tags [foodpagetags]="food.tags" ></app-tags>
    </div>
    <div class="cook-time">
        <span>
            time to cook about
            <strong> {{food.cookTime}} </strong>
        minutes</span>
    </div>
    <div class="price">
        <span>
            {{food.price | currency}}
        </span>
    </div>
    <button (click)="addtocart()" >Add To Cart</button>
</div>
</div>