div{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: red;
padding:.3rem 1rem;
margin: .2rem .15rem;
background-color: #c3c2c2;
border-radius: 10px;
font-weight: 500;
}