.image-info{

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}
.image-info{
height: 20rem;
width: 20em;
border: 1px solid whitesmoke;
border-radius: 1rem;
margin: 0.5rem;
display: flex;
flex-direction: column;
overflow: hidden;
color: #e72929;
text-decoration: none;
}
.image-info:hover{
    opacity: 0.9;
cursor: pointer;

}
.image-info img{
    width: 100%;
    height: 70%;
    object-fit: cover;

}